{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container-login100" style="background-image: url({% static 'images/bg-01.jpg' %})">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        <div class="m-b-23">
            <h4> Please find the urls of this app below:</h4>
            
            <br>
                <p> 1. &nbsp;<a style="color: blueviolet;" href="https://expense-manager-drf.herokuapp.com/api/register/">Register</a>   &nbsp;/api/register/</p>
                <p> 2. &nbsp;<a style="color: blueviolet;" href="https://expense-manager-drf.herokuapp.com/api/login/">Login</a>  &nbsp;/api/login/</p>
                <p> 2. &nbsp;<a style="color: blueviolet;" href="https://expense-manager-drf.herokuapp.com/api/change-password/">Update Password</a>  &nbsp;/change-password/</p>
                <p> 2. &nbsp;<a style="color: blueviolet;" href="https://expense-manager-drf.herokuapp.com/api/password_reset/">Reset Password</a>  &nbsp;/password_reset/</p>
                <p> 3. &nbsp;<a style="color: blueviolet;" href="https://expense-manager-drf.herokuapp.com/api/expenses/">Expenses</a>    &nbsp;/api/expenses/</p>
                <p> 4. &nbsp;<a style="color: blueviolet;" href="https://expense-manager-drf.herokuapp.com/api/expenses/total/">Total Expenses</a>    &nbsp;/api/expenses/total/</p>
                <p> 5. &nbsp;<a style="color: blueviolet;" href="https://expense-manager-drf.herokuapp.com/api/income/">Income</a>    &nbsp;/api/income/</p>
                <p> 6. &nbsp;<a style="color: blueviolet;" href="https://expense-manager-drf.herokuapp.com/api/income/total/">Total Income</a>    &nbsp;/api/income/total/</p>
                <p> 7. &nbsp;<a style="color: blueviolet;" href="https://expense-manager-drf.herokuapp.com/api/daybook/">Daybook</a>  &nbsp;/api/daybook/</p>
                <p> 8. &nbsp;<a style="color: blueviolet;" href="https://expense-manager-drf.herokuapp.com/api/profile/">Profile</a>  &nbsp;/api/profile/</p>
                <p> 9. &nbsp;<a style="color: blueviolet;" href="https://expense-manager-drf.herokuapp.com/api/users/">Users</a>  &nbsp;/api/users/</p>
                <p> 10. <a style="color: blueviolet;" href="https://expense-manager-drf.herokuapp.com/admin/">Admin</a> &nbsp;/api/admin/</p>
               
        </div>
    </div>
</div>


{% endblock %}